/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$badoo-name: 'badoo';
$badoo-x: 4788px;
$badoo-y: 1064px;
$badoo-offset-x: -4788px;
$badoo-offset-y: -1064px;
$badoo-width: 512px;
$badoo-height: 512px;
$badoo-total-width: 5300px;
$badoo-total-height: 4768px;
$badoo-image: 'sprite.png';
$badoo: (4788px, 1064px, -4788px, -1064px, 512px, 512px, 5300px, 4768px, 'sprite.png', 'badoo', );
$behance-name: 'behance';
$behance-x: 3724px;
$behance-y: 4256px;
$behance-offset-x: -3724px;
$behance-offset-y: -4256px;
$behance-width: 512px;
$behance-height: 512px;
$behance-total-width: 5300px;
$behance-total-height: 4768px;
$behance-image: 'sprite.png';
$behance: (3724px, 4256px, -3724px, -4256px, 512px, 512px, 5300px, 4768px, 'sprite.png', 'behance', );
$deviantart-name: 'deviantart';
$deviantart-x: 532px;
$deviantart-y: 4256px;
$deviantart-offset-x: -532px;
$deviantart-offset-y: -4256px;
$deviantart-width: 512px;
$deviantart-height: 512px;
$deviantart-total-width: 5300px;
$deviantart-total-height: 4768px;
$deviantart-image: 'sprite.png';
$deviantart: (532px, 4256px, -532px, -4256px, 512px, 512px, 5300px, 4768px, 'sprite.png', 'deviantart', );
$dribbble-name: 'dribbble';
$dribbble-x: 1064px;
$dribbble-y: 4256px;
$dribbble-offset-x: -1064px;
$dribbble-offset-y: -4256px;
$dribbble-width: 512px;
$dribbble-height: 512px;
$dribbble-total-width: 5300px;
$dribbble-total-height: 4768px;
$dribbble-image: 'sprite.png';
$dribbble: (1064px, 4256px, -1064px, -4256px, 512px, 512px, 5300px, 4768px, 'sprite.png', 'dribbble', );
$facebook-name: 'facebook';
$facebook-x: 1596px;
$facebook-y: 4256px;
$facebook-offset-x: -1596px;
$facebook-offset-y: -4256px;
$facebook-width: 512px;
$facebook-height: 512px;
$facebook-total-width: 5300px;
$facebook-total-height: 4768px;
$facebook-image: 'sprite.png';
$facebook: (1596px, 4256px, -1596px, -4256px, 512px, 512px, 5300px, 4768px, 'sprite.png', 'facebook', );
$flickr-name: 'flickr';
$flickr-x: 2128px;
$flickr-y: 4256px;
$flickr-offset-x: -2128px;
$flickr-offset-y: -4256px;
$flickr-width: 512px;
$flickr-height: 512px;
$flickr-total-width: 5300px;
$flickr-total-height: 4768px;
$flickr-image: 'sprite.png';
$flickr: (2128px, 4256px, -2128px, -4256px, 512px, 512px, 5300px, 4768px, 'sprite.png', 'flickr', );
$google-plus-name: 'google-plus';
$google-plus-x: 2660px;
$google-plus-y: 4256px;
$google-plus-offset-x: -2660px;
$google-plus-offset-y: -4256px;
$google-plus-width: 512px;
$google-plus-height: 512px;
$google-plus-total-width: 5300px;
$google-plus-total-height: 4768px;
$google-plus-image: 'sprite.png';
$google-plus: (2660px, 4256px, -2660px, -4256px, 512px, 512px, 5300px, 4768px, 'sprite.png', 'google-plus', );
$instagram-name: 'instagram';
$instagram-x: 3192px;
$instagram-y: 4256px;
$instagram-offset-x: -3192px;
$instagram-offset-y: -4256px;
$instagram-width: 512px;
$instagram-height: 512px;
$instagram-total-width: 5300px;
$instagram-total-height: 4768px;
$instagram-image: 'sprite.png';
$instagram: (3192px, 4256px, -3192px, -4256px, 512px, 512px, 5300px, 4768px, 'sprite.png', 'instagram', );
$lastfm-name: 'lastfm';
$lastfm-x: 0px;
$lastfm-y: 4256px;
$lastfm-offset-x: 0px;
$lastfm-offset-y: -4256px;
$lastfm-width: 512px;
$lastfm-height: 512px;
$lastfm-total-width: 5300px;
$lastfm-total-height: 4768px;
$lastfm-image: 'sprite.png';
$lastfm: (0px, 4256px, 0px, -4256px, 512px, 512px, 5300px, 4768px, 'sprite.png', 'lastfm', );
$linkedin-name: 'linkedin';
$linkedin-x: 4256px;
$linkedin-y: 4256px;
$linkedin-offset-x: -4256px;
$linkedin-offset-y: -4256px;
$linkedin-width: 512px;
$linkedin-height: 512px;
$linkedin-total-width: 5300px;
$linkedin-total-height: 4768px;
$linkedin-image: 'sprite.png';
$linkedin: (4256px, 4256px, -4256px, -4256px, 512px, 512px, 5300px, 4768px, 'sprite.png', 'linkedin', );
$pinterest-name: 'pinterest';
$pinterest-x: 4788px;
$pinterest-y: 0px;
$pinterest-offset-x: -4788px;
$pinterest-offset-y: 0px;
$pinterest-width: 512px;
$pinterest-height: 512px;
$pinterest-total-width: 5300px;
$pinterest-total-height: 4768px;
$pinterest-image: 'sprite.png';
$pinterest: (4788px, 0px, -4788px, 0px, 512px, 512px, 5300px, 4768px, 'sprite.png', 'pinterest', );
$soundcloud-name: 'soundcloud';
$soundcloud-x: 4788px;
$soundcloud-y: 532px;
$soundcloud-offset-x: -4788px;
$soundcloud-offset-y: -532px;
$soundcloud-width: 512px;
$soundcloud-height: 512px;
$soundcloud-total-width: 5300px;
$soundcloud-total-height: 4768px;
$soundcloud-image: 'sprite.png';
$soundcloud: (4788px, 532px, -4788px, -532px, 512px, 512px, 5300px, 4768px, 'sprite.png', 'soundcloud', );
$sprite-name: 'sprite';
$sprite-x: 0px;
$sprite-y: 0px;
$sprite-offset-x: 0px;
$sprite-offset-y: 0px;
$sprite-width: 4768px;
$sprite-height: 4236px;
$sprite-total-width: 5300px;
$sprite-total-height: 4768px;
$sprite-image: 'sprite.png';
$sprite: (0px, 0px, 0px, 0px, 4768px, 4236px, 5300px, 4768px, 'sprite.png', 'sprite', );
$swarm-name: 'swarm';
$swarm-x: 4788px;
$swarm-y: 1596px;
$swarm-offset-x: -4788px;
$swarm-offset-y: -1596px;
$swarm-width: 512px;
$swarm-height: 512px;
$swarm-total-width: 5300px;
$swarm-total-height: 4768px;
$swarm-image: 'sprite.png';
$swarm: (4788px, 1596px, -4788px, -1596px, 512px, 512px, 5300px, 4768px, 'sprite.png', 'swarm', );
$tumblr-name: 'tumblr';
$tumblr-x: 4788px;
$tumblr-y: 2128px;
$tumblr-offset-x: -4788px;
$tumblr-offset-y: -2128px;
$tumblr-width: 512px;
$tumblr-height: 512px;
$tumblr-total-width: 5300px;
$tumblr-total-height: 4768px;
$tumblr-image: 'sprite.png';
$tumblr: (4788px, 2128px, -4788px, -2128px, 512px, 512px, 5300px, 4768px, 'sprite.png', 'tumblr', );
$twitter-name: 'twitter';
$twitter-x: 4788px;
$twitter-y: 2660px;
$twitter-offset-x: -4788px;
$twitter-offset-y: -2660px;
$twitter-width: 512px;
$twitter-height: 512px;
$twitter-total-width: 5300px;
$twitter-total-height: 4768px;
$twitter-image: 'sprite.png';
$twitter: (4788px, 2660px, -4788px, -2660px, 512px, 512px, 5300px, 4768px, 'sprite.png', 'twitter', );
$vk-name: 'vk';
$vk-x: 4788px;
$vk-y: 3192px;
$vk-offset-x: -4788px;
$vk-offset-y: -3192px;
$vk-width: 512px;
$vk-height: 512px;
$vk-total-width: 5300px;
$vk-total-height: 4768px;
$vk-image: 'sprite.png';
$vk: (4788px, 3192px, -4788px, -3192px, 512px, 512px, 5300px, 4768px, 'sprite.png', 'vk', );
$spritesheet-width: 5300px;
$spritesheet-height: 4768px;
$spritesheet-image: 'sprite.png';
$spritesheet-sprites: ($badoo, $behance, $deviantart, $dribbble, $facebook, $flickr, $google-plus, $instagram, $lastfm, $linkedin, $pinterest, $soundcloud, $sprite, $swarm, $tumblr, $twitter, $vk, );
$spritesheet: (5300px, 4768px, 'sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
